@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono&display=swap');

:root {
    /* --primary-color: #2F3E46; */
    --primary-color: #252121;
    --secondary-color: #31a78a;
    /* --accent1-color: #CAD2C5; */
    --accent1-color: #2F3E46;
    --accent2-color: #84A98C;
    --heading-font: 'Roboto Mono', serif;
    --paragraph-font: 'Lato', serif;

    --nav-background-color: #84A98C;
    --nav-link-color: #2F3E46;
    --nav-hover-link-color: #325060;
    --nav-hover-background-color: #60c676;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p{
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}